node_modules
D:\FERI\Projekti\razvoj_aplikacij_za_internet\backend\pametni-paketnik\node_modules
D:\FERI\Projekti\razvoj_aplikacij_za_internet\frontend\pametni-paketnik\node_modules
D:\FERI\Projekti\razvoj_aplikacij_za_internet\backend\node_modules